{% extends "core/base.html" %}
{% block title %}Email Sent{% endblock title %}

{% block content %}
<!-- Container -->
<div class="flex items-center justify-center h-auto mt-10">
    <!-- Card -->
    <div class="w-full max-w-md bg-gray-700 p-8 rounded-lg shadow-md text-center">

        <!-- Header -->
        <h2 class="text-2xl font-bold mb-4 text-white">Check Your Email</h2>

        <!-- Message -->
        <p class="text-white">We have emailed you instructions for resetting your password. Please check your inbox.</p>

        <!-- Back to Login Link -->
        <a href="{% url 'login' %}" class="mt-4 inline-block text-shadow-green-500 hover:underline">Back to Login</a>

    </div>
    <!-- End Card -->
</div>
<!-- End Container -->
{% endblock content %}