{% extends "core/base.html" %}
{% block title %}Set New Password{% endblock title %}

{% block content %}
<div class="flex justify-center h-auto mt-10">
    <div class="w-full max-w-md bg-gray-700 p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Set New Password</h2>

        {% if form.errors %}
            <div class="mb-4 text-sm text-red-600">
                {{ form.non_field_errors }}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            </div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
            <div class="mb-2 p-2 font-medium
                {% if message.tags == 'success' %}text-green-600{% endif %}
                {% if message.tags == 'error' %}text-red-600{% endif %}
                {% if message.tags == 'warning' %}text-yellow-500{% endif %}
                {% if message.tags == 'info' %}text-blue-600{% endif %}
            ">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        <form method="POST" class="space-y-4">
            {% csrf_token %}

            <!-- New Password -->
            <div>
                <label for="{{ form.new_password1.id_for_label }}"
                    class="block text-sm font-medium text-white">
                    New Password
                </label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <p class="text-red-600 text-sm mt-1">
                        {{ form.new_password1.errors.0 }}
                    </p>
                {% endif %}
            </div>

            <!-- Confirm Password -->
            <div>
                <label for="{{ form.new_password2.id_for_label }}"
                    class="block text-sm font-medium text-white">
                    Confirm New Password
                </label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <p class="text-red-600 text-sm mt-1">
                        {{ form.new_password2.errors.0 }}
                    </p>
                {% endif %}
            </div>


            <button type="submit"
                class="w-full bg-gray-900 text-white py-2 px-4 rounded hover:bg-white transition">
                Reset Password
            </button>
        </form>
    </div>
</div>
{% endblock content %}